<h1 mat-dialog-title>{{venta? "Actualizar Venta":"Crear Venta"}}</h1>
<div mat-dialog-content class="mat-typography">
  <p>Ingrese los datos</p>
  <form [formGroup]="myForm">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Cliente</mat-label>
        <input matInput ngDefaultControl formControlName="cliente" />
        <mat-error *ngIf="myForm.get('cliente')?.hasError('required')">
          Cliente es requerido
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Factura</mat-label>
        <input matInput ngDefaultControl formControlName="factura" />
        <mat-error *ngIf="myForm.get('factura')?.hasError('required')">
          Factura es requerido
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput ngDefaultControl formControlName="fecha" />
        <mat-error *ngIf="myForm.get('fecha')?.hasError('required')">
          Fecha es requerido
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Total</mat-label>
        <input matInput ngDefaultControl formControlName="total" />
        <mat-error *ngIf="myForm.get('total')?.hasError('required')">
          Total es requerido
        </mat-error>
      </mat-form-field>
    </section>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onClick()" cdkFocusInitial>{{venta?"Modificar":"Agregar"}}</button>
</div>
